option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "core.settings"

container_commands:
  01_migrate:
    command: "django-admin migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin collectstatic --noinput"
    leader_only: true